.feedback {
    margin: 6em 7em;
    padding: 4em;
    background-color: var(--cor-terciaria);
    border-radius: 1em;
    text-align: center;
}

.feedback__titulo {
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.feedback__comentario {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    padding: 1rem 0 2rem 0;
    display: block;
}

.feedback__nome-perfil {
    display: block;
    font-weight: 500;
    padding: 1em 0 0.25em 0;
}

.feedback__area-perfil {
    color: var(--cor-font-secundaria);
    font-size: 14px;
}